/*Imports Main Font*/
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800);
#Back-of-Page{
	width:100%;
	height:auto;
	z-index:0;
	background-image:url('Images/page_background.png');
	background-size: 100% 100%;
}
/*Container for whole web-page content*/
#Container{
	width:100%;
	max-width:1920px;
	font-size:20px;	
	font-family:'Julius Sans One', sans-serif;
	font-weight:bold;	
	border:0;
}

/* --------------- NavigationBar --------------- */
#NavBar {
    width: 100%;
    max-width: 1920px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 999;
}
#NavBar .navBox{
    	padding-top:12px;
    	padding-bottom:10px;
    	text-align:center;
    	color:black;
    	text-transform:uppercase;
    	font-weight:bold;
    	outline:2px solid black;
}
#NavBar .navBox:hover{
	background-color: rgba(0,0,0,0.8);
	color: rgb(0,255,255);
}

/* --------------- Each Panel --------------- */
.tileContainer{	
	width:100%;
	position:relative;
	z-index:0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top:40px;
	padding-bottom:40px;
	height: 600px;
	overflow:hidden;;
	background-image:url('');
	background-size: 100% auto;
   	background-repeat: repeat;
}
.dark-backdrop{
	background-image:url('Images/background_dark.jpg');
}
.bright-backdrop{
	background-image:url('Images/background_bright.jpg');
}
.panelContainer{
	display:inline-block;
}
.x-flip{
	transform:scaleX(-1);
	filter: FlipH;
}
.xCenter{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
/*Headers for Panels*/
.heading {
	width:80%;
	display:block;
	padding-top:20px;
	z-index:2;
	color:black;
}
.heading h1{
	font-size:60px;
	font-weight:bold;
	display:block;
	text-align:center;
}
.heading h3{
	font-size:30px;
	font-weight:bold;
	display:block;
	text-align:center;
}
.heading h1:after{
	display:block;
	background-image:url('Images/divider.png');
	background-repeat: no-repeat;
	background-size: 100% 32;
	background-position: center;
	width:inherit; 		
	height:32px;
	content:"";
}
/*Text within Panels*/
.textBody{		
	z-index:2;
	font-size:16px;
	display:inline-block;
	color:black;
}
/*White card containing information*/
.cardContainer{
	display:inline-block;
	width:80%;
	margin-top:30px;
	margin-left:10%;		
	border:2px solid black;
	background:white;
}
.cardContainer h3{	
	font-size:24px;
	font-weight:bold;
	line-height: 30%;	
}
.cardContainer p{
	font-size:14px;	
}
.content-wrapper{
	display:block;
	width:80%;
	height:400px;
	margin-top:30px;
}
.text-appearence-animation p{
	opacity:0;
}
.text-appearence-animation:hover p{
	animation-name: card-text-appear;
    	animation-duration: 0.2s;
    	animation-timing-function: ease-in;
    	animation-fill-mode: forwards;
}

/* --------------- Home Panel --------------- */
#Home .heading{
	padding-top:180px;
}

/* --------------- Description Panel --------------- */
#Description .tileContainer {
	height:auto;
}
#AboutMe{
	width:67%;
	border-right:2px dashed black;
}
#AboutMe .descriptionImage{
	display:inline-block;	
	margin-top:50px;
	margin-left:5%;
   	border:6px solid black;
   	width:200px;
   	height:300px;
   	overflow:hidden;
}
#AboutMe .textBody{
	display:inline-block;
	width:60%;
	margin-top:-275px;
	margin-left:5%;
	vertical-align:middle;	
	line-height:200%;
	text-align: justify;
   	text-justify: auto;
}
#Languages{
	width:32%;
	vertical-align:top;	
}
#Languages .textBody{
	display:block;
}	
#Languages .cardContainer{
	text-align:center;
}
#Languages .cardContainer h3::before{
	display:inline-block;	
	content:url('Images/book.png');
	vertical-align:text-top;
	margin-right:5%;
	margin-left:0;
}

/* --------------- Education Panel --------------- */
#Education .tileContainer {
	height:auto;
	display:none;
}
#Education #selectionContainer{
	min-height:70px;
}
#Education #selectionContainer .time-option h3{
	display:inline-block;
	width:32%;	
	color:black;
	margin-top:30px;	
	color:rgb(0,255,255);
	opacity:0.2;
	text-align:center;	
}
#Education #selectionContainer a{
	text-decoration: none;
}
#Education #selectionContainer h3:hover{
	opacity:1;
}
#Education #selectionContainer h3:active{
	opacity:1;
}
#Education .arrowContainer{
	display:inline-block;
	width:14%;
	height:400px;
	border:2px solid yellow;
}
#Education .content-wrapper .leftArrow{
	float:left;
}
#Education .content-wrapper .rightArrow{
	float:right;
}
#Education #informationContainer{
	position:relative;
	display:inline-block;
	width:60%;
	height:400px;	
	border:2px solid black;
	margin-left:6%;
}
/* --------------- Skills --------------- */
#Skills .tileContainer{
	height:auto;
}
#Skills .tileContainer .panelContainer{
	height:auto;
}
#Skills .tileContainer .panelContainer .heading{
	width:80%;
}
#Skills .tileContainer #Technical-Skills{
	width:49%;
	border-right:2px dashed black;
}
#Skills .tileContainer #Design-Skills{
	width:49%;
}
#Skills .content-wrapper{
	height:auto;
}
#Skills ul{
	list-style-type: none;
}
#Skills .skillContainer{
	position:relative;
	margin-top:50px;
	max-width:500px;
	width:100%;
	min-width:250px;
	height:40px;	
	padding-right:10%;
}
#Skills .skillContainer .text-wrapper{
	display:inline-block;
	padding-top:8px;
	float:left;
	width:40%;
	text-align:right;
}
#Skills .skillContainer img{
	float:right;
	display:inline-block;
}
#Skills #Design-Skills .skillContainer .text-wrapper{
	float:right;
	text-align:left;
}
#Skills #Design-Skills .skillContainer img{
	float:left;
}
/* --------------- Projects --------------- */
#Projects .tileContainer{
	height:auto;
}
#Projects #Projects-Container{
	display:block;
	width:80%;
	height:400px;
	border:2px solid red;
	height:auto;
}
#Projects #Projects-Container .project-box-wrapper {
    display:block;
    position:relative;
    width: 1000px;
    min-height:200px;
    margin-top:50px;
    margin-bottom:50px;
    border:2px blue solid;
    overflow:hidden;
}
#Projects .projectBox{
    top:0px;
    width:100%;
    height:100%;
	background-image:url('Images/project_box_middle.png');
	background-size:100% auto;
	background-repeat:repeat;
	border:2px solid yellow;
}
#Projects .projectBox::before{
    display:block;
    position:absolute;
    z-index:3;
    top:0px;
    content:"";
    background-image:url('Images/project_box_top.png');
    background-size:100% auto;
    background-repeat:no-repeat;
    width:100%;
    height:45px;
}
#Projects .projectBox:after{
	display:block;
    position:absolute;
    z-index:3;
    bottom:0px;
	content:"";
	background-image:url('Images/project_box_bottom.png');
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:bottom;
	width:100%;
	height:45px;
}
#Projects #Projects-Container .projectBox .project-box-content-wrapper {
    position:absolute;
    width:97%;
    height:100%;
    z-index:1;
	top:0;
}
#Projects #Projects-Container .projectBox .project-box-content-wrapper .project-box-background-wrapper {
	position:absolute;
    top:0;
	width:100%;
	height:100%;
	z-index:-1;
	background-size:100% auto;
	opacity:0.3;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center top;
}
#Projects #Projects-Container .projectBox .project-box-content-wrapper .project-box-content {
    position:relative;
    margin-top:45px;
    width:97%;
    border:2px red solid;
}
#Projects #Projects-Container .projectBox .project-box-content-wrapper .project-box-content h2{
    display:block;
    text-align:center;
	font-size:60px;
    font-family: 'Exo 2', sans-serif;
    color:black;
}
#Projects #Projects-Container .projectBox .project-box-content-wrapper .project-box-content .project-hidden-information{
    display:block;
    font-size:30px;
    color:black;
    margin-top:100px;
}
#Projects #Projects-Container .opened{
	animation-name: card-box-open;
    	animation-duration: 2s;
    	animation-fill-mode: forwards;
}
#Projects #Projects-Container .closed{
	animation-name: card-box-close;
    	animation-duration: 2s;
    	animation-fill-mode: forwards;
}
#Projects #Projects-Container .closed .project-hidden-information{
	display:none;
}
#Projects #Projects-Container .opened .project-hidden-information{
	display:inline;
}
/* --------------- Animations --------------- */
@keyframes card-text-appear{
    	0%{opacity:0;}
    	100%{opacity:1;}
}
@keyframes card-box-open{
    	0%{
 		height:200px;
    	}
   	100%{
   		height:400px;
   	}
}
@keyframes card-box-close{
    	0%{
 		height:400px;
    	}
   	100%{
   		height:200px;
   	}
}
/* --------------- Small Screen Adjustments --------------- */
@media screen and (min-width: 1920px){
	#Container{
	border-left:4px solid black;
	border-right:4px solid black;
	}
}
@media screen and (max-width: 1200px){
	#Container {
        font-size:14px;
	}	
	.heading{
		width:100%;
	}
	.heading h1{
		font-size:40px;		
	}
	.heading h1:after{
		background-size: 80% auto;	
	}
	.heading h3{
		font-size:20px;		
	}	
	#Description .tileContainer{
		height: auto;
		overflow:auto;
	}
	#AboutMe{
		width:100%;
		border-right:0;
		border-bottom: 2px dashed black;
	}
	#AboutMe .descriptionImage{
		display:block;
		width:250px;
		height:150px;
		margin-top:55px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;		
		top:0px;
		left:0px;
		right:0px;
	}
	#AboutMe .textBody{
		width:80%;
		margin-top:55px;
		margin-bottom:55px;
		margin-left: 10%;
		text-justify: auto;
	}
	#Languages{
		width:100%;		
	}
	#Education #selectionContainer .time-option h3{
		display:block;
		text-align:center;
		margin-left:0;
		margin-top:0;
		padding-top:20px;
		padding-bottom:10px;
	}
	#Skills .tileContainer #Technical-Skills{
		width:100%;
		border-right:0;
		border-bottom: 2px dashed black;
		padding-bottom:40px;
	}
	#Skills .tileContainer #Design-Skills{
		width:100%;
	}
	#Skills .skillContainer{
		margin-top:20px;
	}
	#Skills #Technical-Skills .skillContainer .text-wrapper,
	#Skills #Design-Skills .skillContainer .text-wrapper{
		display:block;
		text-align:left;
		float:left;
		width:auto;
	}
	#Skills #Design-Skills .skillContainer img{
		float:right;
	}
	#Skills #Design-Skills .x-flip{
		transform:scaleX(1);
		filter: none;
	}
}
